<!DOCTYPE html>
<html data-ng-app="">
	<head>
		<title>Spring Envers Sample</title>
		
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
		
		<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/angular.min.js"></script>
		<script type="text/javascript">
			angular.module("sampleApp", [])
				.controller("dashboardCtrl", function($scope) {
					
				});
		</script>
	</head>
	<body data-ng-controller="dashboardCtrl">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="well">
					
					</div>
					<div class="well">
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>